.container#centers
  .page-header
    h3 Mis centros
      button#button-new-center.btn.btn-primary.pull-right
        i.icon-plus.icon-white
        span  Crear centro

  if !(centers)
    .alert.alert-info
      a.close(data-dismiss="alert", href="#") ×
      h4.alert-heading ¡¡ Bienvenido a Lartop50 !!
      p Ahora puede empezar a ingresar sus centros y participar, bla, bla.

    table.table.table-bordered.hide#table-center
      thead
        tr
          th Nombre
          th Siglas
          th Segmento
          th Pais
          th Ciudad
          th Acciones
      tbody#tbody-center

  else
    table.table.table-bordered#table-center
      thead
        tr
          th Nombre
          th Siglas
          th Segmento
          th Pais
          th Ciudad
          th Acciones
      tbody#tbody-center
        for center in centers
          tr
            td
              a.center(href="#!#{center.acronym}", center-id="#{center.id}") #{center.name}
            td #{center.acronym}
            td
              span.badge.badge-info #{center.segment}
            td #{center.country}
            td #{center.city}
            td
              .btn-group
                button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="#")
                      i.icon-pencil
                      span  Editar
                  li
                    a(href="#")
                      i.icon-remove
                      span  Eliminar
